.header {
	overflow: hidden;
	position: relative;
	color: #fff;
	background-color: rgba(7, 17, 27, .5);
}

.header .content-wrapper {
	padding: 24px 12px 18px 24px;
	font-size: 0;
	position: relative;
}

.avatar {
	vertical-align: top;
}

.avatar img {
	border-radius: 2px;
}

.avatar,
.content {
	display: inline-block;
	font-size: 14px;
}

.header .content {
	margin-left: 16px;
}

.support-count {
	position: absolute;
	right: 12px;
	bottom: 14px;
	padding: 0 8px;
	height: 20px;
	line-height: 20px;
	border-radius: 14px;
	background-color: rgba(0, 0, 0, 0.2);
	text-align: center;
}

.support-count .count {
	font-size: 10px;
	vertical-align: top;
}

.support-count .icon-keyboard_arrow_right {
	font-size: 10px;
	margin-left: 2px;
	line-height: 20px;
	vertical-align: top;
}

.content .title {
	margin: 2px 0 8px 0;
	font-size: 0;
}

.content .title .brand {
	vertical-align: top;
	width: 30px;
	height: 18px;
	display: inline-block;
	background-size: 30px 18px;
	background-repeat: no-repeat;
}

.content .title .name {
	font-size: 16px;
	color: #fff;
	line-height: 18px;
	margin-left: 6px;
	font-weight: bold;
}

.description {
	margin-bottom: 10px;
	line-height: 12px;
	font-size: 12px;
}

.supports .icon {
	vertical-align: top;
	display: inline-block;
	width: 12px;
	height: 12px;
	margin-right: 4px;
	background-size: 12px 12px;
	background-repeat: no-repeat;
}

.supports .icon.decrease {
	background-image: url(img/decrease_1@2x.png);
}

.supports .icon.discount {
	background-image: url(img/discount_1@2x.png);
}

.supports .icon.gurantee {
	background-image: url(img/guarantee_1@2x.png);
}

.supports .icon.invoice {
	background-image: url(img/invoice_1@2x.png);
}

.supports .icon.special {
	background-image: url(img/special_1@2x.png);
}

.supports .text {
	vertical-align: top;
	line-height: 12px;
	font-size: 10px;
	color: #fff;
}


/*公告*/

.bulletin-wrapper {
	position: relative;
	height: 28px;
	line-height: 28px;
	padding: 0 22px 0 12px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	background-color: rgba(7, 17, 27, .2);
}

.bulletin-wrapper .bulletin-title {
	vertical-align: top;
	display: inline-block;
	width: 22px;
	height: 12px;
	background-size: 22px 12px;
	background-repeat: no-repeat;
	margin-top: 8px;
}

.bulletin-wrapper .bulletin-text {
	font-size: 10px;
	margin: 0 4px;
	vertical-align: top;
}

.bulletin-wrapper .icon-keyboard_arrow_right {
	position: absolute;
	font-size: 10px;
	right: 12px;
	bottom: 8px;
	line-height: 10px;
}

.background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	filter: blur(10px);
}


/*浮层*/

.detail {
	position: fixed;
	z-index: 100;
	width: 100%;
	height: 100%;
	overflow: auto;
	top: 0;
	left: 0;
	background: rgba(7, 17, 27, .8);
}

.header .fade-enter-active,
.header .fade-leave-active {
	transition: opacity .5s;
}
.header .fade-enter,
.header .fade-leave-active {
	opacity: 0;
}

.detail .detail-wrapper {
	min-height: 100%;
	width: 100%;
}

.detail .detail-wrapper .detail-main {
	margin-top: 64px;
	padding-bottom: 64px;
}

.detail-main .name {
	line-height: 16px;
	text-align: center;
	font-size: 16px;
	font-weight: 700;
}

.detail .detail-close {
	position: relative;
	width: 32px;
	height: 32px;
	margin: -60px auto 0 auto;
	clear: both;
	font-size: 32px;
}

.star-wrapper {
	margin-top: 18px;
	padding: 2px 0;
	text-align: center;
}

.star-wrapper .title {
	display: flex;
	margin: 30px auto 24px auto;
	width: 80%;
}

.star-wrapper .title .line {
	flex: 1;
	position: relative;
	top: -6px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.star-wrapper .title .text {
	padding: 0 12px;
	font-size: 14px;
	font-weight: bold;
	color: #FFF;
}

.star-wrapper .supports {
	width: 70%;
	margin: 0 auto;
}

.star-wrapper .supports .support-item {
	padding: 0 12px;
	margin-bottom: 12px;
	font-size: 0;
	text-align: left;
}

.star-wrapper .supports .support-item:last-child {
	margin-bottom: 0;
}

.star-wrapper .supports .support-item .icon-2 {
	display: inline-block;
	width: 16px;
	height: 16px;
	vertical-align: top;
	margin-right: 6px;
	background-size: 16px 16px;
	background-repeat: no-repeat;
}

.star-wrapper .supports .support-item .text {
	line-height: 16px;
	font-size: 12px;
}

.supports .icon-2.decrease {
	background-image: url(img/decrease_2@2x.png);
}

.supports .icon-2.discount {
	background-image: url(img/discount_2@2x.png);
}

.supports .icon-2.gurantee {
	background-image: url(img/guarantee_2@2x.png);
}

.supports .icon-2.invoice {
	background-image: url(img/invoice_2@2x.png);
}

.supports .icon-2.special {
	background-image: url(img/special_2@2x.png);
}

@media (min-device-pixel-ratio: 3),
(-webkit-min-device-pixel-ratio:3) {
	.supports .icon-2.decrease {
		background-image: url(img/decrease_2@3x.png);
	}
	.supports .icon-2.discount {
		background-image: url(img/discount_2@3x.png);
	}
	.supports .icon-2.gurantee {
		background-image: url(img/guarantee_2@3x.png);
	}
	.supports .icon-2.invoice {
		background-image: url(img/invoice_2@3x.png);
	}
	.supports .icon-2.special {
		background-image: url(img/special_2@3x.png);
	}
}


/*商家公告*/

.star-wrapper .bulletin {
	width: 80%;
	margin: 0 auto;
}

.star-wrapper .bulletin .content {
	padding: 12px;
	text-indent: 28px;
	line-height: 32px;
	font-size: 14px;
	color: #fff;
	text-align: left;
}